//GRID
$grid-width: 114rem;
$gutter-vertical: 1.5rem;
$gutter-horizontal: 3rem;
$gutter-vertical-sm: 0.5rem;
$gutter-horizontal-sm: 0.5rem;
$box-width: (100vw - #{$gutter-horizontal}) / 2;
//FONTS
$default-font-size: 1.6rem;
//COLORS
$color-primary: rgb(33, 128, 78);
$color-primary-light: rgb(13, 143, 102);
$color-primary-dark: rgb(4, 61, 50);
$color-secondary-light: rgb(117, 180, 162);
$color-secondary-dark: rgb(104, 179, 170);
$color-white: rgba(209, 206, 206, 0.946);
$color-black: rgb(36, 34, 34);
$color-grey: rgb(83, 80, 80);