.viewport {
    height: 93vh;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    @include respond(phone) {
        height: 100vh;
    }
    &__bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .8;
        overflow: hidden;
    }
    &__bg-video-content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.loader-opa {
    height: 100%;
    width: 100%;
    background-color: $color-primary-light;
    z-index: -1;
    background-size: cover;
    background-position: top;
    position: relative;
    opacity: 0;
    transition-duration: 2s;
}
.loader {
    height: 100%;
    width: 100%;
    background-color: $color-primary-light;
    z-index: 99;
    background-size: cover;
    background-position: top;
    position: relative;
    opacity: 1;
    transition-duration: 3s;
}